.product-slider {
    padding: 45px 0;
    &__slider {
        width: 49%;
    }
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    &__specifications {
        width: 49%;
    }
}